html,
body,
header {
  height: 100%;
}
.banner-img {
  background: url("../image/banner4.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-light .navbar-brand {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  margin: 28px 0px;
  font-family: YesevaOne;
  font-size: 36px;
  color: #ffffff;
}
.navbar-light .navbar-brand > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}
.nav > li > a {
  padding: 0;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
  font-family: Cabin;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 41px 25px 40px 25px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ff6900;
}
.bg-light {
  background-color: #ffffff00 !important;
}
/* style cover */
.widget-cover {
  position: absolute;
  width: 1144px;
  height: 128px;
  border-radius: 6px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: white;

  top: -60px;
  padding: 20px;
}
.widget-cover h3 {
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding-bottom: 9px;
}
.widget-cover button {
  width: 261px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #bbbbbb;
  background-color: white;
}
.widget-cover button.btn-search {
  width: 261px;
  height: 50px;
  border-radius: 5px;
  background-color: #ff6900;
  border-color: #ff6900 !important;
}
button.btn p {
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
  float: left;
}
button.btn img {
  float: right;
}
button.btn-search p {
  padding: 4px;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}
button.btn-search img {
  float: left;
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-left: 90px;
}
#main-cover {
  position: relative;
}
/* carrowsel2 */
img.img-responsive {
  width: 100%;
}
.list-icon.text-center a {
  padding: 0px 10px;
}
h2.fg {
  padding: 50px 0px;
}

.bg-gray {
  background: #f1f1f1;
  padding-top: 10%;
}
h2.ft {
  font-family: Cabin;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-bottom: 50px;
}
h2.fg {
  font-family: Cabin;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-top: 50px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  padding: 10px;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #faf8f8 no-repeat center center;
  background-size: 100% 100%;
}
span.carousel-control-prev-icon.nutduoitrai {
  position: absolute;
  left: 0;
}
span.carousel-control-next-icon.nutduoiphai {
  position: absolute;
  right: 0;
}
.carousel-inner.carousel-2 {
  height: 430px;
  margin-bottom: 70px;
}
.bd-example {
  width: 100%;
  height: auto;
}
.list-group h5 {
  font-family: Cabin;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin: 10px 0px 8px 0px;
}
.list-group p {
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #464646;
  margin-bottom: 22px;
}
.list-icon.text-center {
  margin: 0 18px;
  padding-bottom: 20px;
}
.list-icon.text-center img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.list-icon.text-center a {
  padding-right: 19px;
}
.list-group .list-icon a {
  float: left;
}
/* 3 nut duoi */
.carousel-indicators {
  color: #000000;
  position: absolute;
  right: 0;
  bottom: -24px;
  left: 0;
  z-index: 1;
}
.carousel-indicators li.active {
  width: 30px;
  height: 6px;
  border-radius: 3px;
  border: solid 1px #ff6900;
  background-color: white;
}
.carousel-indicators li {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #bbbbbb;
}

.bg-w {
  border-radius: 5px;
  background-color: white;
}
/* footer */
footer {
  background-color: #000000;
}
.widget-title h3 {
  font-family: YesevaOne;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 61px;
  padding-bottom: 19px;
}
.widget-desc {
  width: 260px;
}
.widget-desc p {
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #cfcfcf;
}
.widget-desc p span {
  margin-bottom: 15px;
  display: block;
}
.list-recent p {
  display: block;
  margin-bottom: 10px;
  width: 260px;
  height: 18px;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #cfcfcf;
}

input.form-control {
  width: 363px;
  height: 44px;
  border-radius: 3px;
  border: solid 1px #979797;
  background-color: #000000;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
  margin-bottom: 16px;
}
button.btn.btn-warning {
  width: 363px;
  height: 44px;
  border-radius: 3px;
  background-color: #ff6900;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
@media all and (max-width: 1101px) {
  .widget-cover {
    width: 97%;
    top: -67px;
  }
  .list-icon.text-center {
    margin: 0;
  }
  .list-icon.text-center a {
    padding-right: 17px;
  }
  .col-xs-4.col-sm-3.col-md-3.col-md-push-1.col-lg-3.events {
    margin-left: 8%;
  }
  html,
  body,
  header,
  .view {
    height: 87%;
  }

  .widget-cover button {
    width: 23%;
  }
  #reative-widget {
    padding-top: 42px;
  }
  input.form-control {
    width: 80%;
  }
  button.btn.btn-warning {
    width: 80%;
  }
  button.btn.btn-primary {
    width: 98px;
  }
  .widget-event a h5 {
    font-size: 15px;
    padding: 10px 0px;
  }
  .text-center .dola {
    font-size: 28px;
  }
}
@media all and (max-width: 1024px) {
  .widget-cover {
    width: 97%;
    top: -67px;
  }
  .list-icon.text-center {
    margin: 0;
  }
  .list-icon.text-center a {
    padding-right: 17px;
  }
  .col-xs-4.col-sm-3.col-md-3.col-md-push-1.col-lg-3.events {
    margin-left: 8%;
  }
  html,
  body,
  header,
  .view {
    height: 87%;
  }

  .widget-cover button {
    width: 23%;
  }
  #reative-widget {
    padding-top: 42px;
  }
  input.form-control {
    width: 80%;
  }
  button.btn.btn-warning {
    width: 80%;
  }
  button.btn.btn-primary {
    width: 98px;
  }
  .widget-event a h5 {
    font-size: 15px;
    padding: 10px 0px;
  }
  .text-center .dola {
    font-size: 28px;
  }
}
@media all and (max-width: 920px) {
  .list-icon.text-center a {
    padding-right: 3px;
  }
  .widget-cover {
    width: 96%;
    top: -67px;
  }
  .widget-cover {
    padding: 9px;
  }
  .widget-cover button,
  .widget-cover button.btn-search {
    width: 24%;
    padding: 8px;
  }
  button.btn-search img {
    margin-left: 27%;
  }
  .col-xs-4.col-sm-3.col-md-3.col-md-push-1.col-lg-3.events {
    margin-left: 15%;
  }
}
@media all and (max-width: 768px) {
  .navbar-light .navbar-toggler {
    background: white;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 6px 16px 10px 25px;
  }
  ul.navbar-nav.ml-auto {
    z-index: 1 !important;
    background: black;
  }
  html,
  body,
  header,
  .view {
    height: 81%;
    width: 100%;
  }
  .widget-cover {
    width: 100%;
    height: 108px;
  }
  .widget-event a h5 {
    font-size: 14px;
    width: 80%;
    padding: 5px 0px;
  }
  .widget-cover h3 {
    font-size: 14px;
  }
  .widget-cover button {
    width: 25%;
    height: 32px;
  }
  .widget-cover {
    height: 97px;
    top: -57px;
  }
  .widget-cover button.btn-search {
    width: 20%;
    height: 32px;
  }
  button.btn-search img {
    margin-left: 28px;
  }
  button.btn-search p {
    color: white;
  }
  .widget-event button {
    width: 89px;
    height: 27px;
    color: white;
    font-size: 12px;
  }
  .widget-event {
    width: 427px;
  }
  .clock span {
    float: none;
    width: 427px;
  }
  button.btn.btn-primary {
    width: 80px;
    font-size: 10px;
  }
  button.btn.btn-warning {
    width: 87%;
    height: 34px;
    font-size: 14px;
  }

  .user span {
    padding-right: 30px;
  }
  .widget-event span {
    font-size: 10px;
  }
  .text-center button {
    width: 74px;
    height: 32px;
    border-radius: 18px;
    border: solid 1px #ff6900;
    background-color: #ffffff;
    margin-top: 10px;
  }
  .widget-title h3 {
    font-size: 20px;
    padding-top: 34px;
    padding-bottom: 13px;
  }
  .widget-desc p {
    padding-right: 40px;
    font-size: 11px;
  }
  .list-recent p {
    font-size: 12px;
  }
  input.form-control {
    width: 88%;
    margin-bottom: 10px;
    height: 32px;
  }
}
@media all and (max-width: 750px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 13px 25px;
  }
  .ml-auto,
  .mx-auto {
    background: rgba(0, 0, 0, 0.16);
  }
  .widget-cover button,
  .widget-cover button.btn-search {
    width: 24%;
    padding: 8px;
  }
  button.btn p,
  button.btn-search p {
    font-size: 12px;
  }
  .list-group h5 {
    font-size: 14px;
    margin: 8px 0px;
  }
  .list-group p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .bg-w .list-icon.text-center img {
    width: 16px;
  }
  .bg-w .list-icon.text-center {
    padding-bottom: 10px;
  }
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    padding-right: 4px;
    padding-left: 4px;
  }

  .list-icon.text-center img {
    width: 40px;
  }
  .widget-desc p {
    font-size: 10px;
  }
  .col-xs-4.col-sm-3.col-md-3.col-md-push-1.col-lg-3.events {
    margin-left: 44px;
  }
}
@media all and (max-width: 600px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 13px 25px;
  }
  .ml-auto,
  .mx-auto {
    background: rgba(0, 0, 0, 0.16);
  }
  .widget-cover button,
  .widget-cover button.btn-search {
    width: 24%;
    padding: 8px;
  }
  button.btn p,
  button.btn-search p {
    font-size: 12px;
  }
  .list-group h5 {
    font-size: 14px;
    margin: 8px 0px;
  }
  .list-group p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .bg-w .list-icon.text-center img {
    width: 16px;
  }
  .bg-w .list-icon.text-center {
    padding-bottom: 10px;
  }
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    padding-right: 4px;
    padding-left: 4px;
  }

  .list-icon.text-center img {
    width: 40px;
  }
}
@media all and (max-width: 414px) {
  ul.navbar-nav.ml-auto {
    background: black;
    z-index: 1 !important;
    position: relative;
  }

  button.btn-search p {
    padding: 0;
  }
  button.btn img {
    display: none;
  }
  .widget-cover {
    width: 98%;
    top: -57px;
    z-index: 0 !important;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 13px 25px;
  }
  .ml-auto,
  .mx-auto {
    background: rgba(0, 0, 0, 0.16);
  }
  .widget-cover button,
  .widget-cover button.btn-search {
    width: 24%;
    padding: 8px;
  }
  button.btn p,
  button.btn-search p {
    font-size: 11px;
  }
  .list-group h5 {
    font-size: 30px;
    margin: 18px 0px;
  }
  .list-group p {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .bg-w .list-icon.text-center img {
    width: 100%;
  }
  .bg-w .list-icon.text-center {
    padding-bottom: 23px;
    margin: 0 auto;
  }
  .list-icon.text-center a {
    padding: 0px 12px;
  }
  .list-icon.text-center {
    margin: 0 auto;
  }
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    padding-right: 4px;
    padding-left: 4px;
  }
  .andi {
    display: none;
  }

  .list-icon.text-center img {
    width: 40px;
  }
  .widget-title h3 {
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 9px;
  }
  .widget-desc {
    width: 100%;
  }
  .list-recent p {
    text-align: center;
    width: 100%;
  }
  input.form-control {
    margin: 8px 21%;
    width: 59%;
    height: 32px;
  }
  button.btn.btn-warning {
    margin: 8px 21%;
    width: 59%;
    height: 34px;
    font-size: 14px;
  }
  .col-xs-4.col-sm-3.col-md-3.col-md-push-1.col-lg-3.events {
    margin-left: 0;
  }
  .widget-desc p {
    padding-right: 0;
    text-align: center;
  }
}
@media all and (max-width: 375px) {
  .bg-gray {
    background: #f1f1f1;
    padding-top: 17%;
  }
  ul.navbar-nav.ml-auto {
    background: black;
    z-index: 1 !important;
    position: relative;
  }

  button.btn-search p {
    padding: 0;
  }
  button.btn img {
    display: none;
  }
  .widget-cover {
    width: 98%;
    top: -57px;
    z-index: 0 !important;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 13px 25px;
  }
  .ml-auto,
  .mx-auto {
    background: rgba(0, 0, 0, 0.16);
  }
  .widget-cover button,
  .widget-cover button.btn-search {
    width: 24%;
    padding: 8px;
  }
  button.btn p,
  button.btn-search p {
    font-size: 11px;
  }
  .list-group h5 {
    font-size: 30px;
    margin: 18px 0px;
  }
  .list-group p {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .bg-w .list-icon.text-center img {
    width: 100%;
  }
  .bg-w .list-icon.text-center {
    padding-bottom: 23px;
    margin: 0 auto;
  }
  .list-icon.text-center a {
    padding: 0px 12px;
  }
  .list-icon.text-center {
    margin: 0 auto;
  }
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    padding-right: 4px;
    padding-left: 4px;
  }
  .andi {
    display: none;
  }

  .list-icon.text-center img {
    width: 40px;
  }
  .widget-title h3 {
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 9px;
  }
  .widget-desc {
    width: 100%;
  }
  .list-recent p {
    text-align: center;
    width: 100%;
  }
  input.form-control {
    margin: 8px 21%;
    width: 59%;
    height: 32px;
  }
  button.btn.btn-warning {
    margin: 8px 21%;
    width: 59%;
    height: 34px;
    font-size: 14px;
  }
  .col-xs-4.col-sm-3.col-md-3.col-md-push-1.col-lg-3.events {
    margin-left: 0;
  }
  .widget-desc p {
    padding-right: 0;
    text-align: center;
  }
}
/* @media all and (max-width: 375px) {
  button.btn img {
    width: 14%;
  }
  .widget-cover {
    width: 98%;
    top: -57px;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 13px 25px;
  }
  .ml-auto,
  .mx-auto {
    background: rgba(0, 0, 0, 0.16);
  }
  .widget-cover button,
  .widget-cover button.btn-search {
    width: 24%;
    padding: 6px;
  }
  button.btn p,
  button.btn-search p {
    font-size: 8px;
  }
  button.btn-search img {
    margin-left: 15px;
  }
  .list-group h5 {
    font-size: 30px;
    margin: 18px 0px;
  }
  .list-group p {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .bg-w .list-icon.text-center img {
    width: 100%;
  }
  .bg-w .list-icon.text-center {
    padding-bottom: 23px;
    margin: 0 auto;
  }
  .list-icon.text-center a {
    padding: 0px 12px;
  }
  .list-icon.text-center {
    margin: 0 auto;
  }
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    padding-right: 4px;
    padding-left: 4px;
  }
  .andi {
    display: none;
  }

  .list-icon.text-center img {
    width: 40px;
  }
  footer {
    display: none;
  }
} */
