.container-fluid {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner-img {
  background: url("../image/banner2.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-light .navbar-brand {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  margin: 28px 0px;
  font-family: YesevaOne;
  font-size: 36px;
  color: #ffffff;
}
.navbar-light .navbar-brand > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}
.nav > li > a {
  padding: 0;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
  font-family: Cabin;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 41px 25px 40px 25px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ff6900;
}
.bg-light {
  background-color: #ffffff00 !important;
}

.title-event {
  padding-top: 80px;
}
/* wwidget event */
.widget-event button {
  width: 126px;
  height: 44px;
  background-color: #00379c;
  border: none;
}
.widget-event button .btn {
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.widget-event a h5 {
  font-family: Cabin;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #000000;
  padding: 15px 0px;
}
img.gym {
  width: 100%;
}
.widget-event span {
  padding-left: 12px;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #464646;
}
.user span {
  padding-right: 50px;
}
.anh2 {
  width: 100%;
  padding-right: 12px;
}
.clock span {
  width: 545px;
  height: 48px;
  float: left;
}
.widget-event {
  width: 561px;
}
.text-center .dola {
  font-family: Cabin;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ff6900;
  padding-right: 36%;
}
.text-center button {
  width: 83px;
  height: 36px;
  border-radius: 18px;
  border: solid 1px #ff6900;
  background-color: #ffffff;
  margin-top: 22px;
}
.btn-primary {
  width: 57px;
  height: 24px;
  background-color: #ff6900;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ff6900;
}
.wrapper-widget {
  margin-bottom: 24px;
}
.text-center.view-a {
  margin-bottom: 50px;
}
.view-a a {
  margin-bottom: 50px;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ff6900;
}

.ft {
  font-family: Cabin;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 50px 0px;
}
.widget-event .clock img {
  float: left;
}


/* style cover */
.btn-warning {
    color: white;
    background-color: #ff6900;
    width: 261%;
    height: auto;
}
.row.wrapper-widget.padinglen{
  padding-top: 114px;
}
.margi{
  width: 100%;
  margin: 0 auto;
}
.wp-content{
  position: relative;
}
button.btn {
    margin: 5px;
}
.widget-event button.btn.btn-primary {
    color: white;
}
.widget-cover {
  position: absolute;
  width: 100%;
  height: 153px;
  border-radius: 6px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  z-index: 0;
  top: -60px;
  padding: 20px;
}
.widget-cover h3 {
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding-bottom: 9px;
}
.widget-cover button {
  width: 261px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #bbbbbb;
  background-color: white;
}
.widget-cover button.btn-search {
  width: 261px;
  height: 50px;
  border-radius: 5px;
  background-color: #ff6900;
  border-color: #ff6900 !important;
}
button.btn p {
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
  float: left;
}
button.btn img {
  float: right;
}
button.btn-search p {
  padding: 4px;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
}
button.btn-search img {
  float: left;
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-left: 90px;
}


/* footer */
footer {
  background-color: #000000;
}
.widget-title h3 {
  font-family: YesevaOne;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 61px;
  padding-bottom: 19px;
}
.widget-desc {
  width: 260px;
}
.widget-desc p {
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #cfcfcf;
}
.widget-desc p span {
  margin-bottom: 15px;
  display: block;
}
.list-recent p {
  display: block;
  margin-bottom: 10px;
  width: 260px;
  height: 18px;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #cfcfcf;
}

input.form-control {
  width: 363px;
  height: 44px;
  border-radius: 3px;
  border: solid 1px #979797;
  background-color: #000000;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
  margin-bottom: 16px;
}
button.btn.btn-info {
  width: 363px;
  height: 44px;
  border-radius: 3px;
  background-color: #ff6900;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-color: #ff6900;
}
.events {
  padding-left: 10%;
}
.contact {
  padding-left: 20%;
}

/* responsive */
/* Dành cho máy tính bảng */
@media all and (max-width: 1024px) {
  .widget-cover button, button.btn.btn-search {
    width: 23%;
  }
  button.btn-search img{
    margin-left: 62px;
  }
  button.btn-search p{
    color: white;
  }
  .bg-gray {
    height: 550px;
    background-color: #f4f4f4;
}
  .widget-slider-1 {
    height: 196px;
  }
  img.gym {
    padding-right: 0;
    padding-left: 20px;
    width: 96%;
  }
  .title-event {
    padding-top: 0px;
  }
  .tg {
    padding-top: 0px;
  }
  .wrapper-widget {
    width: 92%;
    font-size: 10%;
    margin-bottom: 22px;
  }
  .widget-event button {
    width: 20%;
    height: 10%;
    background-color: #00379c;
    border: none;
  }
  .widget-event a h5 {
    font-family: Cabin;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: normal;
    color: #000000;
    padding: 13px 0px;
  }
  .user span {
    padding-right: 15px;
  }

  .widget-event span {
    padding-left: 10px;
    font-family: Cabin;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #464646;
  }
  .khoi3.text-center {
    position: absolute;
    right: -103px;
    width: 53%;
  }
  .text-center h2 {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .ft {
    margin-bottom: 0;
  }
  .widget-title h3 {
    font-family: YesevaOne;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 25px;
    padding-bottom: 9px;
  }
  .widget-desc p {
    font-family: Cabin;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cfcfcf;
  }
  .list-recent p {
    display: block;
    margin-bottom: 8px;
    width: 259px;
    height: 14px;
    font-family: Cabin;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cfcfcf;
  }
  input.form-control {
    width: 228%;
    height: 38px;
    border-radius: 3px;
    border: solid 1px #979797;
    background-color: #000000;
    font-family: Cabin;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    margin-bottom: 16px;
  }
  button.btn.btn-warning {
    width: 226%;
    height: 38px;
    border-radius: 3px;
    background-color: #ff6900;
    font-family: Cabin;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .list-icon.text-center a {
    padding-right: 11px;
  }
  .group h4 {
    top: 45%;
    right: 45%;
  }
  .widget-event button.btn.btn-primary {
    color: white;
  }
  button.btn.btn-warning{
    width: 200%;
  }
.contact {
    padding-left: 15%;
}
input.form-control{
  width: 200%;
}
}
/* @media all and (max-width: 973px) {
  .carousel-indicators{
    bottom: 169px;
  }
  .bg-gray {
    height: 447px;
    background-color: #f4f4f4;
}

  .wrapper-widget {
    width: 92%;
    font-size: 10%;
    margin-bottom: 22px;
  }
  .widget-event button {
    width: 20%;
    height: 10%;
    background-color: #00379c;
    border: none;
  }
  .widget-event a h5 {
    font-family: Cabin;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: normal;
    color: #000000;
    padding: 13px 0px;
  }
  .user span {
    padding-right: 15px;
  }

  .widget-event span {
    padding-left: 10px;
    font-family: Cabin;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #464646;
  }
  .khoi3.text-center {
    position: absolute;
    right: -103px;
    width: 53%;
  }
  .text-center h2 {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .ft {
    margin-bottom: 0;
  }
  .widget-title h3 {
    font-family: YesevaOne;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 25px;
    padding-bottom: 9px;
  }
  .widget-desc p {
    font-family: Cabin;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cfcfcf;
  }
  .list-recent p {
    display: block;
    margin-bottom: 8px;
    width: 259px;
    height: 14px;
    font-family: Cabin;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cfcfcf;
  }
  input.form-control {
    width: 228%;
    height: 38px;
    border-radius: 3px;
    border: solid 1px #979797;
    background-color: #000000;
    font-family: Cabin;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    margin-bottom: 16px;
  }
  button.btn.btn-warning {
    width: 226%;
    height: 38px;
    border-radius: 3px;
    background-color: #ff6900;
    font-family: Cabin;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .list-icon.text-center a {
    padding-right: 11px;
  }
  .group h4 {
    top: 45%;
    right: 45%;
  }
} */
@media all and (max-width: 768px) {
   .navbar-light .navbar-toggler{
    background-color: white;
  }
  .banner-img {
    height: 54%;
    width: 100%;
  }
  .text-center .dola {
    font-size: 24px;
}
  button.btn-search img {
    margin-left: 32px;
}
  input.form-control{
    width: 100%;
  }
  .contact{
    padding-left: 0;
  }
  .widget-cover button, button.btn.btn-search{
    width: 23%;
    height: 37%;
  }
 .widget-cover {
    padding: 6px;
    width: 96%;
    height: 110px;
    top: -54px;
}
  .widget-cover h3{
    font-size: 17px;
  }
  .bg-gray{
    height: auto;
  }
  .khoi3.text-center {
    position: absolute;
    right: -70px;
    width: 72%;
  }
  .group {
    margin-top: 25px;
  }
  .banner {
    width: 100%;
    padding-bottom: 16px;
  }
  .text-center h2 {
    margin-bottom: 0;
    padding: 15px 0px;
    font-size: 27px;
  }
  .widget p {
    font-size: 11px;
  }
  .widget h3 {
    font-size: 18px;
  }
  .widget .img-responsive {
    margin-bottom: 0;
  }
  .true {
    height: auto;
  }
  .widget-slider-1 {
    height: 142px;
  }
  .khoi2,
  .anh2 {
    width: 123%;
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }
  .widget-event{
    margin-left: 41px;
    width: 180%;
  }
 .widget-event button {
    width: 15%;
    height: 12%;
    background-color: #00379c;
    border: none;
    color: white;
    font-size: 9px;
}
  .widget-event a h5 {
    font-size: 14px;
  }
  .widget-event span {
    width: 325px;
    font-size: 10px;
  }

  .text-center h2 {
    margin: 15px 0px;
    padding: 8px 0px;
    font-size: 18px;
  }
  .text-center.view-a {
    margin-bottom: 25px;
  }
  .list-icon.text-center {
    width: 214px;
    margin: -7px 11px;
    padding-bottom: 20px;
  }
  .list-group p {
    margin-bottom: 10px;
  }
  .list-group h5 {
    margin: 6px 0px 6px 0px;
  }
  .widget-title h3 {
    font-size: 14px;
  }
  .widget-desc p {
    font-family: Cabin;
    font-size: 9 px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cfcfcf;
    padding-right: 53px;
  }
  .list-recent p {
    display: block;
    margin-bottom: 6px;
    width: 259px;
    height: 8px;
    font-family: Cabin;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cfcfcf;
  }
  button.btn.btn-warning {
    width: 100%;
    height: 29px;
    font-size: 10px;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 6px 12px 14px 4px;
  }
}
 /* @media all and (max-width: 754px) {
  .list-icon.text-center{
    margin: 0 8px;
  }
  .text-center .dola{
    font-size: 22px;
  }
  .container-fluid.bg-gray{
    height: auto;
  }
  img.anh2 {
    width: 110%   ;
}
.widget-event a h5{
  font-size: 10px;
  padding: 6px 0px;
}
.container{
  max-width: 700px;
}
  .text-center.title-event-2 {
    padding-top: 186px;
}
  .group {
    margin-top: 25px;
  }
  .banner {
    width: 100%;
    padding-bottom: 16px;
  }
  .text-center h2 {
    margin-bottom: 0;
    padding: 15px 0px;
    font-size: 27px;
  }
  .widget p {
    font-size: 11px;
  }
  .widget h3 {
    font-size: 18px;
  }
  .widget .img-responsive {
    margin-bottom: 0;
  }
  .true {
    height: auto;
  }

  .widget-slider-1 {
    height: 142px;
  }
  .khoi2,
  .anh2 {
    padding-right: 0;
    padding-left: 0;
  }
  .widget-event{
    width: 194%;
    margin-left: 30px;
  }
  .widget-event button {
    width: 11%;
    height: 5%;
    background-color: #00379c;
    border: none;
    color: white;
    font-size: 7px;
  }
  .widget-event a h5 {
    font-size: 14px;
    padding: 10px 0px;
  }
  .widget-event span {
    width: 325px;
    font-size: 10px;
  }
  .text-center h2 {
    margin: 15px 0px;
    padding: 18px 0px;
    font-size: 18px;
  }
  .text-center.view-a {
    margin-bottom: 25px;
  }
  .list-icon.text-center {
    width: 214px;
    margin: -7px 11px;
    padding-bottom: 20px;
  }
  .list-group p {
    margin-bottom: 10px;
  }
  .list-group h5 {
    margin: 6px 0px 6px 0px;
  }
  .widget-title h3 {
    font-size: 14px;
  }
  .contact{
    padding-left: 0px;
  }
  .widget-desc p {
    font-family: Cabin;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cfcfcf;
    padding-right: 53px;
  }
  .list-recent p {
    display: block;
    margin-bottom: 6px;
    width: 259px;
    height: 8px;
    font-family: Cabin;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cfcfcf;
  }
  input.form-control {
    width: 100%;
    height: 29px;
    margin-bottom: 10px;
  }
  button.btn.btn-warning {
    width: 100%;
    height: 29px;
    font-size: 10px;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 6px 12px 14px 4px;
  }
}  */
@media all and (max-width: 414px) {
  .ml-auto, .mx-auto {
    background: black;
    z-index: 2 !important;
    margin-left: auto!important;
    position: relative;
}
  .navbar-light .navbar-toggler{
    background-color: white;
  }
  .widget-cover button, button.btn.btn-search {
    width: 21%;
    height: 31%;
    padding: 7px 7px;
}
button.btn p{
  font-size: 10px;
}
button.btn img {
    width: 28%;
    font-size: 10%;
    float: right;
}
button.btn-search p{
  padding: 0;
}
.row.wrapper-widget.padinglen {
    padding-top: 78px;
}
button.btn-search img {
  padding-bottom: 10px;
    margin-left: 6px;
}
.widget-cover h3 {
    font-size: 12px;
}
 .widget-cover {
    padding: 6px;
    width: 93%;
    height: 97px;
    top: -52px;
}
  .navbar-light .navbar-nav .nav-link {
    padding: 7px 12px 14px 21px;
  }
  .khoi3.text-center{
    display: none;
  }
  a.navbar-brand{
    margin-left: 15px;
  }
  button.navbar-toggler {
    margin-right: 15px;
}
  .widget-event {
    width: 100%;
    padding-top: 12px;
    margin-left:15px;
  }
  input.form-control{
    width: 100%;
  }
  button.btn.btn-warning{
    width: 100%;
  }
  .text-center.title-event-2 {
    padding-top: 16%;
  }
  img.anh2 {
    width: 119%;
}
  .widget-title h3{
    text-align: center;
    font-size: 20px;
  }
  .widget-desc{
    width: 100%;
  }
  .widget-desc p{
    padding-right: 0;
    text-align: center;
    font-size: 10px;
  }
  .list-recent p{
    text-align: center;
    width: 100%;
  }
  .events{
    padding-left: 0;
  }
  input.form-control {
    margin: 8px auto;
    width: 50%;
}
button.btn.btn-warning{
  width: 50%;
  margin: 3px 98px;
  font-size: 12px;
}
  .list-icon.text-center{
    margin: 3px auto;
  }
  .list-icon.text-center img{
    width: 42px;
    height: 35px;
  }
  button.btn.btn-primary {
    font-size: 12px;
    width: 100px;
    height: 37px;
}
.widget-event a h5 {
    font-size: 14px;
    padding: 15px 0px;
}
  .user img, .clock img {
    width: 3%;
  }
  .widget-event span {
    padding-left: 11px;
    font-size: 10px;
}
  .list-group h5{
    padding-top: 10px;
    font-size: 24px;
  }
  .list-group p {
    margin-bottom: 16px;
    font-size: 16px;
}
}
/* @media all and (max-width: 320px) {
  .widget-cover button, button.btn.btn-search {
    width: 21%;
    height: 31%;
    padding: 7px 9px;
}
button.btn p{
  font-size: 10px;
}
button.btn img {
    width: 28%;
    font-size: 10%;
    float: right;
}
button.btn-search p{
  padding: 0;
}
.row.wrapper-widget.padinglen {
    padding-top: 78px;
}
button.btn-search img {
  padding-bottom: 10px;
    margin-left: 6px;
}
.widget-cover h3 {
    font-size: 12px;
}
 .widget-cover {
    padding: 6px;
    width: 93%;
    height: 97px;
    top: -52px;
}
  .navbar-light .navbar-nav .nav-link {
    padding: 7px 12px 14px 21px;
  }
  .khoi3.text-center{
    display: none;
  }
  a.navbar-brand{
    margin-left: 15px;
  }
  button.navbar-toggler {
    margin-right: 15px;
}
  .widget-event {
    width: 100%;
    padding-top: 12px;
    margin-left:15px;
  }
  input.form-control{
    width: 100%;
  }
  button.btn.btn-warning{
    width: 100%;
  }
  .text-center.title-event-2 {
    padding-top: 16%;
  }
  img.anh2 {
    width: 119%;
}
  .widget-title h3{
    text-align: center;
    font-size: 20px;
  }
  .widget-desc{
    width: 100%;
  }
  .widget-desc p{
    padding-right: 0;
    text-align: center;
    font-size: 10px;
  }
  .list-recent p{
    text-align: center;
    width: 100%;
  }
  .events{
    padding-left: 0;
  }
  input.form-control {
    margin: 8px auto;
    width: 50%;
}
button.btn.btn-warning{
  width: 50%;
  margin: 3px 98px;
  font-size: 12px;
}
  .list-icon.text-center{
    margin: 3px auto;
  }
  .list-icon.text-center img{
    width: 42px;
    height: 35px;
  }
  button.btn.btn-primary {
    font-size: 12px;
    width: 100px;
    height: 37px;
}
.widget-event a h5 {
    font-size: 14px;
    padding: 15px 0px;
}
  .user img, .clock img {
    width: 3%;
  }
  .widget-event span {
    padding-left: 11px;
    font-size: 10px;
}
  .list-group h5{
    padding-top: 10px;
    font-size: 24px;
  }
  .list-group p {
    margin-bottom: 16px;
    font-size: 16px;
}
} */
 @media all and (max-width: 375px) {
   button.btn img {
    width: 23%;
    font-size: 10%;
    float: right;
}
   .navbar-light .navbar-toggler {
    background-color: white;
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    padding: 2px 5px;
}
   .ml-auto, .mx-auto {
     position: relative;
    margin-left: auto!important;
    background: black;
    z-index: 1;
}
  .navbar-light .navbar-nav .nav-link {
    padding: 7px 9px 6px 21px;
  }
  .khoi3.text-center{
    display: none;
  }
  a.navbar-brand{
    margin-left: 15px;
  }
  button.navbar-toggler {
    margin-right: 15px;
}
  .widget-event {
    width: 100%;
    padding-top: 12px;
    margin-left:15px;
  }
  input.form-control{
    width: 100%;
  }
  button.btn.btn-warning{
    width: 100%;
  }
  .text-center.title-event-2 {
    padding-top: 16%;
  }
  img.anh2 {
    width: 119%;
}
  .widget-title h3{
    text-align: center;
    font-size: 20px;
  }
  .widget-desc{
    width: 100%;
  }
  .widget-desc p{
    padding-right: 0;
    text-align: center;
    font-size: 10px;
  }
  .list-recent p{
    text-align: center;
    width: 100%;
  }
  .events{
    padding-left: 0;
  }
  input.form-control {
    margin: 8px auto;
    width: 50%;
}
button.btn.btn-warning{
  width: 50%;
  margin: 3px 93px;
  font-size: 12px;
}
  .list-icon.text-center{
    margin: 3px auto;
  }
  .list-icon.text-center img{
    width: 42px;
    height: 35px;
  }
  button.btn.btn-primary {
    font-size: 12px;
    width: 100px;
    height: 37px;
}
.widget-event a h5 {
    width: 105%;  
    font-size: 14px;
    padding: 15px 0px;
}
  .user img, .clock img {
    width: 3%;
  }
  .widget-event span {
    padding-left: 11px;
    font-size: 10px;
}
  .list-group h5{
    padding-top: 10px;
    font-size: 24px;
  }
  .list-group p {
    margin-bottom: 16px;
    font-size: 16px;
}
}
@media all and (max-width: 320px) {
  .navbar-toggler {
    padding: 2px 5px;
    font-size: 19px;
    line-height: 1;
    background-color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
    background: black;
    z-index: 1;
}
  button.btn {
    margin: 4px;
  }
  button.btn img{
    display: none;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 7px 12px 14px 21px;
  }
  .khoi3.text-center{
    display: none;
  }
  a.navbar-brand{
    margin-left: 15px;
  }
  button.navbar-toggler {
    margin-right: 15px;
}
  .widget-event {
    width: 100%;
    padding-top: 12px;
    margin-left:15px;
  }
  input.form-control{
    width: 100%;
  }
  button.btn.btn-warning{
    width: 100%;
  }
  .text-center.title-event-2 {
    padding-top: 16%;
  }
  img.anh2 {
    width: 119%;
}
  .widget-title h3{
    text-align: center;
    font-size: 20px;
  }
  .widget-desc{
    width: 100%;
  }
  .widget-desc p{
    padding-right: 0;
    text-align: center;
    font-size: 10px;
  }
  .list-recent p{
    text-align: center;
    width: 100%;
  }
  .events{
    padding-left: 0;
  }
  input.form-control {
    margin: 8px auto;
    width: 50%;
}
button.btn.btn-warning{
    width: 50%;
    margin: 3px 77px;
    font-size: 12px;
}
  .list-icon.text-center{
    margin: 3px auto;
  }
  .list-icon.text-center img{
    width: 42px;
    height: 35px;
  }
  button.btn.btn-primary {
    font-size: 12px;
    width: 100px;
    height: 37px;
}
.widget-event a h5 {
    width: 100%;
    font-size: 10px;
    padding: 15px 0px;
}
  .user img, .clock img {
    width: 3%;
  }
  .widget-event span {
    width: 100%;
    padding-left: 11px;
    font-size: 8px;
}
  .list-group h5{
    padding-top: 10px;
    font-size: 24px;
  }
  .list-group p {
    margin-bottom: 16px;
    font-size: 16px;
}
} 