html,
body,
header,
.view {
  height: 100%;
}
.view {
  background: url("../image/banner3.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
a.navbar-brand {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  margin: 28px 0px;
  font-family: YesevaOne;
  font-size: 36px;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}
.nav > li > a {
  padding: 0;
}
.navbar-default .navbar-nav > li > a {
  font-family: Cabin;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 41px 25px 40px 25px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ff6900;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #ffffff00;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a > img:hover {
  color: #ff6900;
}
.navbar-default {
  background-color: #ffffff00;
  background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
}

.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-collapse {
  padding: 0;
}
.navbar-default {
  border: none;
  margin-bottom: 0;
}
/* style cover */
.widget-cover {
  position: absolute;
  width: 1144px;
  height: 128px;
  border-radius: 6px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  z-index: 9;
  top: -60px;
  padding: 20px;
}
.widget-cover h3 {
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding-bottom: 9px;
}
.widget-cover button {
  width: 261px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #bbbbbb;
  background-color: white;
}
.widget-cover button.btn-search {
  width: 261px;
  height: 50px;
  border-radius: 5px;
  background-color: #ff6900;
  border-color: #ff6900 !important;
}
button.btn p {
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
  float: left;
}
button.btn img {
  float: right;
}
button.btn-search p {
  padding: 4px;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
}
button.btn-search img {
  float: left;
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-left: 90px;
}
#main-cover {
  position: relative;
}
/* css container */
/* wwidget event */
#reative-widget {
  padding-top: 114px;
}
.widget-event button {
  width: 126px;
  height: 44px;
  background-color: #00379c;
  border: none;
}
.widget-event button .btn {
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.widget-event a h5 {
  font-family: Cabin;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #000000;
  padding: 15px 0px;
}
.widget-event span {
  padding-left: 12px;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #464646;
}
.user span {
  padding-right: 50px;
}
.anh2 {
  width: 100%;
  padding-right: 12px;
}
.clock span {
  width: 545px;
  height: 48px;
  float: left;
}
.widget-event {
  width: 561px;
}
.text-center .dola {
  font-family: Cabin;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ff6900;
  padding-right: 36%;
}
.text-center button {
  width: 83px;
  height: 36px;
  border-radius: 18px;
  border: solid 1px #ff6900;
  background-color: #ffffff;
  margin-top: 22px;
}
.btn-primary {
  width: 57px;
  height: 24px;
  background-color: #ff6900;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ff6900;
}
.wrapper-widget {
  margin-bottom: 24px;
}
.text-center.view-a {
  margin-bottom: 50px;
}
.view-a a {
  margin-bottom: 50px;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ff6900;
}
.bg-gray {
  background-color: #f4f4f4;
}
.ft {
  font-family: Cabin;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 50px 0px;
}
.widget-event .clock img {
  float: left;
}

/* footer */
footer {
  background-color: #000000;
}
.widget-title h3 {
  font-family: YesevaOne;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 61px;
  padding-bottom: 19px;
}
.widget-desc {
  width: 260px;
}
.widget-desc p {
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #cfcfcf;
}
.widget-desc p span {
  margin-bottom: 15px;
  display: block;
}
.list-recent p {
  display: block;
  margin-bottom: 10px;
  width: 260px;
  height: 18px;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #cfcfcf;
}

input.form-control {
  width: 363px;
  height: 44px;
  border-radius: 3px;
  border: solid 1px #979797;
  background-color: #000000;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
  margin-bottom: 16px;
}
button.btn.btn-warning {
  width: 363px;
  height: 44px;
  border-radius: 3px;
  background-color: #ff6900;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
@media all and (max-width: 1024px) {
  .widget-cover{
   width: 97%;
    top: -128px;
 }
  html,
  body,
  header,
  .view {
  height: 87%;
  }
   
  .widget-cover button{
    width: 23%;
  }
  #reative-widget{
    padding-top: 42px;
  }
  input.form-control{
    width: 80%;
  }
  button.btn.btn-warning{
    width: 80%;
  }
    button.btn.btn-primary{
      width: 98px;
    }
    .widget-event a h5{
      font-size: 15px;
      padding: 10px 0px;
    }
    .text-center .dola {
      font-size: 28px;
    }
  }
  @media all and (max-width: 900px) {
  .widget-cover{
   width: 97%;
    top: -128px;
 }
  html,
  body,
  header,
  .view {
  height: 87%;
  }
   
  .widget-cover button{
    width: 23%;
  }
  #reative-widget{
    padding-top: 42px;
  }
  input.form-control{
    width: 80%;
  }
  button.btn.btn-warning{
    width: 80%;
  }
    button.btn.btn-primary{
      width: 98px;
    }
    .widget-event a h5{
      font-size: 15px;
      padding: 10px 0px;
    }
    .text-center .dola {
      font-size: 28px;
    }
  }
  @media all and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 81%;
    width: 100%;
  }
  .widget-cover {
    width: 96%;
    height: 108px;
  }
  .widget-event a h5{
    font-size: 14px;
    width: 80%;
    padding: 5px 0px;
  }
  .widget-cover h3 {
    font-size: 14px;
  }
  .widget-cover button {
    width: 20%;
    height: 32px;
    margin-right: 30px;
  }
  .widget-cover {
    height: 115px;
  }
  .widget-cover button.btn-search {
    width: 20%;
    height: 32px;
  }
  button.btn-search img {
    margin-left: 28px;
  }
  button.btn-search p {
    color: white;
  }
  .widget-event button {
    width: 89px;
    height: 27px;
    color: white;
    font-size: 12px;
  }
  .widget-event{
    width: 427px;
  }
  .clock span{
    float: none;
    width: 427px;
  }
  button.btn.btn-primary{
    width: 80px;
    font-size: 10px;
  }
  button.btn.btn-warning{
    width: 87%;
    height: 34px;
    font-size: 14px;
  }

  .user span {
    padding-right: 30px;
  }
  .widget-event span {
    font-size: 10px;
  }
  .text-center .dola {
    font-size: 20px;
  }
  .text-center button {
    width: 74px;
    height: 32px;
    border-radius: 18px;
    border: solid 1px #ff6900;
    background-color: #ffffff;
    margin-top: 10px;
  }
  .widget-title h3 {
    font-size: 20px;
    padding-top: 34px;
    padding-bottom: 13px;
  }
  .widget-desc p {
    padding-right: 40px;
    font-size: 11px;
  }
  .list-recent p {
    font-size: 12px;
  }
  input.form-control {
    width: 88%;
    margin-bottom: 10px;
    height: 32px;
  }
}
  @media all and (max-width: 800px) {
  html,
  body,
  header,
  .view {
    height: 81%;
    width: 100%;
  }
  .widget-cover {
    width: 96%;
    height: 108px;
  }
  .widget-event a h5{
    font-size: 14px;
    width: 80%;
    padding: 5px 0px;
  }
  .widget-cover h3 {
    font-size: 14px;
  }
  .widget-cover button {
    width: 20%;
    height: 32px;
    margin-right: 30px;
  }
  .widget-cover {
    height: 115px;
  }
  .widget-cover button.btn-search {
    width: 20%;
    height: 32px;
  }
  button.btn-search img {
    margin-left: 28px;
  }
  button.btn-search p {
    color: white;
  }
  .widget-event button {
    width: 89px;
    height: 27px;
    color: white;
    font-size: 12px;
  }
  .widget-event{
    width: 427px;
  }
  .clock span{
    float: none;
    width: 427px;
  }
  button.btn.btn-primary{
    width: 80px;
    font-size: 10px;
  }
  button.btn.btn-warning{
    width: 87%;
    height: 34px;
    font-size: 14px;
  }

  .user span {
    padding-right: 30px;
  }
  .widget-event span {
    font-size: 10px;
  }
  .text-center .dola {
    font-size: 20px;
  }
  .text-center button {
    width: 74px;
    height: 32px;
    border-radius: 18px;
    border: solid 1px #ff6900;
    background-color: #ffffff;
    margin-top: 10px;
  }
  .widget-title h3 {
    font-size: 20px;
    padding-top: 34px;
    padding-bottom: 13px;
  }
  .widget-desc p {
    padding-right: 40px;
    font-size: 11px;
  }
  .list-recent p {
    font-size: 12px;
  }
  input.form-control {
    width: 88%;
    margin-bottom: 10px;
    height: 32px;
  }
}
@media all and (max-width: 768px) {
  html,
  body,
  header,
  .view {
    height: 81%;
    width: 100%;
  }
  .widget-cover {
    width: 96%;
    height: 108px;
  }
  .widget-event a h5{
    font-size: 14px;
    width: 80%;
    padding: 5px 0px;
  }
  .widget-cover h3 {
    font-size: 14px;
  }
  .widget-cover button {
    width: 20%;
    height: 32px;
    margin-right: 30px;
  }
  .widget-cover {
    height: 115px;
  }
  .widget-cover button.btn-search {
    width: 20%;
    height: 32px;
  }
  button.btn-search img {
    margin-left: 28px;
  }
  button.btn-search p {
    color: white;
  }
  .widget-event button {
    width: 89px;
    height: 27px;
    color: white;
    font-size: 12px;
  }
  .widget-event{
    width: 427px;
  }
  .clock span{
    float: none;
    width: 427px;
  }
  button.btn.btn-primary{
    width: 80px;
    font-size: 10px;
  }
  button.btn.btn-warning{
    width: 87%;
    height: 34px;
    font-size: 14px;
  }

  .user span {
    padding-right: 30px;
  }
  .widget-event span {
    font-size: 10px;
  }
  .text-center .dola {
    font-size: 20px;
  }
  .text-center button {
    width: 74px;
    height: 32px;
    border-radius: 18px;
    border: solid 1px #ff6900;
    background-color: #ffffff;
    margin-top: 10px;
  }
  .widget-title h3 {
    font-size: 20px;
    padding-top: 34px;
    padding-bottom: 13px;
  }
  .widget-desc p {
    padding-right: 40px;
    font-size: 11px;
  }
  .list-recent p {
    font-size: 12px;
  }
  input.form-control {
    width: 88%;
    margin-bottom: 10px;
    height: 32px;
  }
}
@media all and (max-width: 600px){
  .navbar-default .navbar-nav > li > a{
    padding: 5px 20px;
    z-index: 3;
  }
  html, body, header, .view {
    height: 88%;
    width: 100%;
}
  .widget-event {
    width: 396px;
  }
  .widget-cover button {
    width: 25%;
    height: 32px;
    margin-right: 3px;
  }
  .widget-cover h3{
    font-size: 14px;
    padding-bottom: 2px;
  }
  .widget-cover{
    padding: 10px;
    height: 87px;
    top: -92px;
  }
  button.btn p{
    font-size: 10px;
  }
  button.btn-search img{
    margin-left: 2px;
  }
  button.btn img{
    width: 15%;
  }
  .anh2 {
    width: 121%;
    padding-right: 10px;
  }
  .widget-event a h5 {
    font-size: 12px;
    width: 80%;
    padding: 4px 0px;
  }
  button.btn.btn-primary {
    width: 71px;
    font-size: 9px;
  }
  .widget-event span {
    font-size: 9px;
  }
  .user span {
    padding-right: 10px;
  }
  .text-center .dola{
    font-size: 16px;
     right: -16px;
    position: absolute;
  }
  .text-center button.btn.btn-primary{
    width: 50px;
    right: 30px;
    top: 20px;
    position: absolute;
  }
  .widget-title h3{
    font-size: 18px;
    padding-top: 28px;
  }
  .widget-desc p{
    font-size: 10px;
    padding-right: 68px;
  }
  .col-xs-4.col-sm-3.col-md-3.col-md-push-1.col-lg-3.events {
    padding-left: 81px;
  }
  .list-recent p{
    font-size: 10px;
  }
  input.form-control{
    width: 100%;
    margin-bottom: 8px;
  }
  button.btn.btn-warning{
    width: 100%;
  }

}