.navbar {
  padding: 0;
}
.bg-light {
  background-color: white !important;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}
a.navbar-brand {
  font-family: YesevaOne;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding: 29px 0px 29px 0px;
}
.navbar-brand .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}
.nav > li > a {
  padding: 0;
}
.navbar-light .navbar-nav .nav-link {
  font-family: Cabin;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
  padding: 41px 25px 40px 25px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ff6900;
  background-color: white;
}
/* csc chu */
#wrapper {
  margin-top: 42px;
}
/* csscontent */
.img-cover img {
  margin-right: 20px;
  float: left;
  width: 267px;
  height: 188px;
}
.title-cover h2 {
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
}
.title-cover.number {
  margin-top: 18px;
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
  color: #464646;
}

.widget-cover {
  padding-bottom: 70px;
  border-bottom: 1px solid #70707085;
}
p.number {
  padding: 28px 0px 10px 0px;
}

/* wd-contetn */
.widget-content h2 {
  padding: 30px 0px 17px 0px;
  font-family: Cabin;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.dec-wid {
  padding: 17px 0px;
}
.widget-content p {
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
}
.dec-sum p {
  font-family: Cabin;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
}
.widget-content .dec-sum span {
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ff6900;
}
.widget-content span {
  float: right;
  font-family: Cabin;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #464646;
}
/* buutpon */

#wp-btn {
  width: 171px;
  height: 37px;
  border-radius: 5px;
  background-color: #f1f1f1;
  position: relative;
  float: left;
  margin-top: 5px;
}
button.btn-secondary {
  position: absolute;
  left: 0px;
  width: 48px;
  height: 37px;
  opacity: 0.52;
  border-radius: 5px;
  background-color: #cbcbcb;
}
p.text {
  bottom: 10%;
  position: absolute;
  right: 50%;
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
button.btn.btn-dark {
  width: 48px;
  height: 37px;
  border-radius: 5px;
  background-color: #000000;
  position: absolute;
  top: 0px;
  right: 0px;
}
.card-body {
  width: 563px;
  height: 733px;
  border-radius: 5px;
  border: solid 1px #dcdcdc;
  background-color: var(--white);
  margin-bottom: 23px;
  padding: 41px 21px;
}
input.input-style-1 {
  width: 251px;
  height: 48px;
  border-radius: 3px;
  background-color: #f1f1f1;
  border: none;
}
label.label-desc {
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
  padding-bottom: 4px;
}
input#Input {
  width: 520px;
  height: 48px;
  border-radius: 3px;
  background-color: #f1f1f1;
  border: none;
}
label {
  font-family: Cabin;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
  padding: 16px 0px 4px 0px;
}
textarea {
  border: none;
  width: 520px;
  height: 80px;
  border-radius: 3px;
  background-color: #f1f1f1;
  overflow: auto;
  resize: vertical;
}
.input-group-paypal {
  width: 250px;
  height: 80px;
  border-radius: 3px;
  border: solid 1px #ff6900;
  background-color: var(--white);
}
.input-group-paypal img {
  padding: 20px 48px;
}
.input-group-bank {
  width: 250px;
  height: 80px;
  border-radius: 3px;
  border: solid 1px #dcdcdc;
  background-color: var(--white);
  margin-top: 37px;
}
.input-group-bank img {
  padding: 20px 48px;
}
button.btn-light {
  width: 521px;
  height: 48px;
  background-color: #ff6900;
  margin-top: 40px;
}
button.btn-light p {
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
@media all and (max-width: 1024px) {
  .card-body {
    width: auto;
  }
  input.input-style-1 {
    width: auto;
    height: 36px;
  }
  input#Input {
    width: 391px;
    height: 36px;
  }
  textarea {
    width: 391px;
  }
  .input-group-paypal img {
    padding: 13px 30px;
  }
  .input-group-paypal {
    width: 200px;
  }
  .input-group-bank {
    width: 200px;
  }
  .input-group-paypal img {
    padding: 19px 22px;
  }
  .input-group-bank img {
    padding: 18px 22px;
  }
  button.btn-light {
    width: 380px;
  }
}
@media all and (max-width: 982px) {
  .card-body {
    width: auto;
  }
  input.input-style-1 {
    width: 100%;
    height: 36px;
  }
  input#Input {
    width: 100%;
    height: 36px;
  }
  textarea {
    width: 100%;
  }
  .input-group-paypal img {
    padding: 13px 30px;
  }
  .input-group-paypal {
    width: 100%;
  }
  .input-group-bank {
    width: 100%;
  }
  .input-group-paypal img {
    padding: 21px 0px;
    width: 100%;
  }
  .input-group-bank img {
    padding: 21px 0px;
    width: 100%;
  }
  button.btn-light {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .card-body {
    width: auto;
  }
  input.input-style-1 {
    width: 100%;
    height: 36px;
  }
  input#Input {
    width: 100%;
    height: 36px;
  }
  textarea {
    width: 100%;
  }
  .input-group-paypal img {
    padding: 13px 30px;
  }
  .input-group-paypal {
    height: 50%;
    width: 100%;
}
  .input-group-bank {
    height: 50%;
    width: 100%;
  }
  .input-group-paypal img {
    padding: 12px 0px;
    width: 100%;
  }
  .input-group-bank img {
    padding: 8px 0px;
    width: 100%;
  }
  button.btn-light {
    width: 100%;
  }
}
@media all and (max-width: 570px) {
  .input-group-paypal img{
    padding: 0;
  }
  .input-group-paypal {
    width: 61%;
    height: 68%;
  }
  .card-body {
    height: 795px;
    width: auto;
  }
  input.input-style-1 {
    width: 100%;
    height: 36px;
  }
  input#Input {
    width: 100%;
    height: 36px;
  }
  textarea {
    width: 100%;
  }
  .input-group-bank {
    width: 61%;
    height: 66%;
  }
  .input-group-paypal img {
    width: 100%;
    padding: 0;
  }
  .input-group-bank img {
    width: 100%;
    padding: 0;
  }
  button.btn-light {
    width: 100%;
  }
}
@media all and (max-width: 414px) {
  .navbar-light .navbar-toggler {
    margin-right: 20px;
  }
  .navbar-light .navbar-brand {
    margin-left: 20px;
  }
  .navbar-light .navbar-nav .nav-link{
    padding: 10px 25px;
  }
  .title-cover h2 {
    padding: 10px 0;
  }
  .img-cover img{
    float: none;
  }
  .input-group-paypal img{
    padding: 0;
  }
  .input-group-paypal {
    width: 61%;
  }
  .card-body {
    height: 795px;
    width: auto;
  }
  input.input-style-1 {
    width: 100%;
    height: 36px;
  }
  input#Input {
    width: 100%;
    height: 36px;
  }
  textarea {
    width: 100%;
  }
  .input-group-bank {
    width: 61%;
  }
  .input-group-paypal img {
    width: 100%;
    padding: 0;
  }
  .input-group-bank img {
    width: 100%;
    padding: 0;
  }
  button.btn-light {
    width: 100%;
  }
}
